{% extends "admin_home.html" %}
{% load static %}


{% block head %}
{% endblock %}

{% block content1 %}



<div class="card"  style="background-color: #fff;padding: 20px;">

  <h4>Assign Class</h4><br>
  <form action="" method="post">
      {% csrf_token %}
      {% if esub1 %}
      <table class="table" style="width: 800px;">
        <tr>
            <th>Class</th>
            <td><select name="cls" id="" class="form-control1">
                <option value="{{ esub1.class_det_id }}">{{ esub1.class_det.class_det }}</option>
              {% for i in rsub %}
              <option value="{{ i.class_id }}">{{ i.class_det }}</option>
              {% endfor %}
            </select></td>
        </tr>
          <tr>
              <th>Teacher</th>
              <td><select name="tcr" id="" class="form-control1">
                <option value="{{ esub1.teacher_id }}">{{ esub1.teacher.fname }} {{ esub1.teacher.lname }}</option>
                {% for i in tchr %}
                <option value="{{ i.teacher_id }}">{{ i.fname }} {{ i.lname }}</option>
                {% endfor %}
              </select></td>
          </tr>
          <tr>
              <td><input type="submit" class="btn btn-warning " name="update_assign"  value="Save Changes"></td>
          </tr>
         
      </table>
      {%else%}
          <table class="table" style="width: 800px;">
            <tr>
                <th>Class</th>
                <td><select name="cls" id="" class="form-control1">
                  {% for i in rsub %}
                  <option value="{{ i.class_id }}">{{ i.class_det }}</option>
                  {% endfor %}
                </select></td>
            </tr>
              <tr>
                  <th>Teacher</th>
                  <td><select name="tcr" id="" class="form-control1">
                    {% for i in tchr %}
                    <option value="{{ i.teacher_id }}">{{ i.fname }} {{ i.lname }}</option>
                    {% endfor %}
                  </select></td>
              </tr>
              <tr>
                  <td><input type="submit" class="btn btn-primary " name="add_assign"  value="Assign"></td>
              </tr>
             
          </table>
          {%endif%}
      </form>

</div>



{% endblock %}

{% block body %}
<br>
<div class="content_bottom">
 <div class="col-md-12 span_3">
  <div class="bs-example1" data-example-id="contextual-table">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Class</th>
          <th>Teacher</th>
          <th>Subject</th>
          <th>Edit/Remove</th>
          
        </tr>
      </thead>
   
       {% for i in v_t %}
       <tbody>
        <tr class="active">
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ i.class_det.class_det }}</td>
          <td>{{ i.teacher.fname }} {{ i.teacher.lname }}</td>
          <td>{{ i.teacher.subject.subject_name }}</td>
          
          <td><a href="/admin_edit_assign/{{i.pk}}">Edit</a>
            <a href="/admin_remove_assign/{{i.pk}}">Remove</a></td>
         
        </tr>
       </tbody>
   {% endfor %}
     
    </table>
   </div>
 </div>

<div class="clearfix"> </div>
  </div>

{% endblock %}










