{% extends "teacher_home.html" %}
{% load static %}

{% block banner_content %}

<style>
  .blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
</style>

<h3>Occation Details </h3>
<h4 class="blink_me" style="color: rgb(177, 7, 7);">Scroll Down....</h4>

{% endblock %}





{% block view %}
<!-- index-block2 -->
<section class="w3l-index2 py-5" id="view">
   <div class="container py-md-3">
     <div class="header-section text-center mx-auto">
       <h3>Occation Details </h3>
      
     </div>
     <div class="row bottom_grids pt-md-3 text-center">
       {% for i in v_t %}
       <div class="col-lg-4 col-md-6 mt-5">
         <div class="s-block">
           {% comment %} <a href="/static/media/{{ i.image }}" class="d-block p-lg-4 p-3">
             <img src="/static/media/{{ i.image }}" alt="" class="img-fluid img-curve" />
            </a> {% endcomment %}
             <h4>Occation Details</h4>
             <p class="">{{ i.occation_det }}</p>
             <p class="">{{ i.occation_date }}</p>
         </div>
       </div>
       {% endfor %}
       
     </div>
   </div>
 </section>
 


{% endblock %}

    <!-- <table>
        <tr>
            <th>#</th>
            <th>Class</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Place Name</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
        {% for i in v_t %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.class_det.class_det }}</td>
            <td>{{ i.fname }}</td>
            <td>{{ i.lname }}</td>

            <td>{{ i.place }}</td>
            <td>{{ i.phone }}</td>
            <td>{{ i.email }}</td>
        </tr>
        {% endfor %}
    </table> -->